backoff==2.2.1
langchain_core==0.3.74
langchain_openai==0.3.30
langgraph==0.6.6
matplotlib==3.10.5
networkx==3.5
numpy==2.3.2
pandas==2.3.1
pydantic==2.11.7
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.48.0
Requests==2.32.5
scikit_learn==1.7.1
scipy==1.16.1
seaborn==0.13.2
sentence_transformers==5.0.0
tqdm==4.67.1
vllm==0.10.0
